@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,500&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.border{
    border: 1px solid black;
}
.borderr{
    border: 2px solid red;
}
.pad0{
    padding: 0px;
}
.padt50{
    padding-top: 50px;
}
.padtb50{
    padding-block: 50px;
}
.mar0{
    margin: 0px;
}
.padtb20{
    padding-block: 20px;
}

/* Header */

.header{
    padding: 15px;
    color: #fff;
    background-color: rgb(44, 51, 104);
}
.head{
    display: flex;
    align-items: center;
}
.head i{
    color: red;
    font-size: 22px;
}
.arrow{text-align: center;}
.arrow i{
    color: #fff;
}
.direction{
    justify-content: flex-end;
}


/* search-sec */
.search-sec{
   background-color:#efefef;
   padding: 10px 0px;
}

.logo img{
/*    margin: 14px;*/
}
.search-box {
    padding-top: 5px;
}
.search-box input{
    position: relative;
    width: 100%;
    height: 35px;
    border-radius:5px;
    border: 1px solid #c3c2c2;
    padding-left: 10px;
}
.search-box i {
    position: absolute;
    right: 30px;
    padding-top: 8px;
}
.cart i{
  display: inline-block;
  color: black;
  width: 30px;
  text-align: center;
  cursor: pointer;
}
.cart a{
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    font-size: 1.3rem;
    cursor: pointer;
}
.cart2 a{
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    font-size: 1.3rem;
    cursor: pointer;
}
.cart b{
    padding-left: 68px;
}
.prsn{
   font-size: 1.7rem;
}
.cart2{
    text-align: left;
}
.cart2 b{
    padding-left: 31px;
    }


    /* navbar */

    .navbar{
        text-align: center;
         background-color:#fbf7f7;
         margin-bottom: 0px;
    }

    .nav-sec ul{
        padding-top: 10px;
    }

    .nav-sec li{
        display: inline-block;
        list-style: none;
        padding: 15px 0px;
    }
    .nav-sec a{
        text-decoration: none;
        color: #333;
        font-size: 1.3rem;
        padding: 0px 31px;
        font-weight: 600;
    }
     .nav-sec i{
            display: inline-block;
            font-size: 1rem;
            margin: 2px;
            margin-left:-19px
    }

.mobile{
    display: none;
}
.mobile .logo img{
    margin: 5px !important;
}
.mobile ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}
.mobile ul li{
    display: inline-block;
}
.mobile a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 5px;
    display: block;
}

.mynavbar{
    background: #FFF;
    width: 250px;
    height: 100vh;
    padding: 10px 0px;
    position: fixed;
    z-index: 1;
    top: 0px;
    margin-left: -250px;
    transition: all 0.5s;
}
.mynavbar.active{margin: 0px;}
.mynavbar ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.mynavbar ul li{
    border-bottom: 1px solid #ddd;
}
.mynavbar ul li:last-child{
    border: none;
}
.mynavbar a{
    padding: 0px 10px;
    height: 35px;
    line-height: 35px;
    color: #000;
}



    /* slider */
    .item-sec img{
        width: 100vw;
        height: 60vh;
        
    }
    .carousel-caption{
        width: 451px;
        left: 135px;
        bottom: 96px;
        text-align: left;
        padding-inline: 20px;
    }
    .myCaption p{
       font-size: 1.7rem;
       color: rgb(38, 38, 125);
       padding-inline: 5px;
    }
    .myCaption h1{
        color: rgb(21, 21, 68);
        font-weight: 700;
        margin-top: 5px;
    }
    .myCaption a{
        text-decoration: none;
    }
    .slidBtn{
         color:white;
         font-weight: 600;
         font-size: 1.2rem;
         padding: 8px 18px;
         background: #232323;
         border-radius: 3px;
         margin-inline: 7px;
         
    }
    .myCaption a:hover{
        color: #fff;
        background: #3e3434;
        transition: all 0.5s ease-in-out;
    }

   
    .carousel-control-prev,
.carousel-control-next {
    background-color: rgb(231, 231, 255);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    top: 50%;
    text-align: center;
}




/* trending-pro */
.products{
    padding-top:10px;
}

.products h2{
    text-align: center;
    font-weight: 700;
    padding-bottom: 15px;
}
.heart-sec{
  text-align: right;
  margin-top: 10px;
  z-index: 1;
 
}

.girl a{
    color: black;
    text-decoration: none;
    width: 50px;
    border-radius: 100%;
    background-color: #f4f4f4;
    padding: 7px 10px;
}
.girl img{
    width: 280px;
    transition: all 0.5s ease-out;
}
.girlImgBox{
    overflow: hidden;
    border: 1px solid transparent;
}
.girl:hover img{
    transform: scale(1.1);
}
.girl p{
    font-size: 1.3rem;
    color: #515151;
    padding-left: 12px;
}
.girl h6{
    font-weight: 700;
    padding-left: 12px;
}
.girl b{
  color: rgb(60, 60, 124);
}
.girl i{
    z-index: 1;
    display: inline-block;
   color: rgba(185, 185, 9, 0.651);
}
.dolor{
    text-align: left;
}
.star{
    text-align: right;
}
.special img{
    width: 231px;
}
.product2{
  padding-top: 50px;
}
.product2 a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.3rem;
}
.product2 a:hover{
    transform: scale(0.8,0.9);
    transition: all 0.5s ease-in-out;
    background-color: red;
}
.Wishlist{
  padding: 8px 10px;
  display: inline-block;
  background-color: rgb(243, 29, 29);
  border-radius: 6px;
}
.Wishlist i{
  display: inline-block;
  width: 25px;
  text-align: center;
 color: #fff;
}
.Wish-btn{
    margin-top: 50px;
  text-align: center;
}

button{
    width: 80px;
    font-size: 1.2rem;
    padding: 4px;
    text-align: center;
    background: rgb(248, 73, 73);
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    border: 2px solid rgb(248, 73, 73);
}


/* Summer-collection */

.Summer-collection{
    text-align: center;
    margin-top: 50px;
    /* background-color: rgb(210 210 240) */
    background-color: rgb(229, 229, 237);
}

.offer img{
  width: 350px;
}

.offer-sec{
    text-align: left;
    margin-top: 120px;
    padding: 20px;
}
.offer-sec p{
 color: rgb(218, 152, 28);
 font-size: 1.4rem;
}
.offer-sec h1{
    margin-top: -4px;
 color: rgb(34, 34, 108);
 font-weight: 700;
}
.Summer-collection a{
    display: inline-block;
  text-decoration: none;
  padding: 9px 19px;
  background-color: rgb(243, 29, 29);
  color: #fff;
  font-weight: 600;
  border-radius: 2px;
}
.Summer-collection a:hover{
    display: inline-block;
    background-color: red;
    transition: all 0.5s ease-in-out;
    transform: scale(0.9,0.8);
}

/* choose your brand */
.Brand{
   text-align: center;
}
.Brand h6{
    padding-block: 40px;
    font-size: 2.5rem;
    font-weight: 700;
    color: #0c1e58;
    text-decoration: underline;
}
.Brand h6:hover{
    color:#1d3b9e;
    transition: all 0.6s ease-out;
    transform: scale(0.8, 0.9);
}
.brandSec{
  margin-top:30px;
  padding-bottom: 20px;
}
.company img{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    border-radius: 5px;
    margin-bottom: 10px;
}

/* .company{
    padding:13px;
} */

/* clients */
/* .company{
    background: #f2f2f2;
    padding: 15px 0;
    margin-top: 20px;
    text-align: center;
  }
  
  .company img {
    width: 50%;
    filter: grayscale(100);
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
  }
   */
  .company img:hover {
    /* filter: none; */
    transform: scale(1.2);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    
  }


  /* category-section  */

  .picBoxControl{
    position: absolute;
    top: 0%;
  }

.picBoxControl a{
    display: inline-block;
    padding: 8px;
    background-color:rgb(207, 195, 195);
    color: #fff;
    font-size: 2.5rem;
    text-decoration: none;
    text-align: center;
    border-radius: 100%;
}  
.glyphicon-chevron-left {
    width: 38px;
    height: 18px;
    margin-top: 7px;
    font-size: 20px;
}
.glyphicon-chevron-right {
    width: 38px;
    height: 18px;
    margin-top: 7px;
    font-size: 20px;
}

/* women-sec */
    
.women-sec{
  background: url('../img/cat-lg.jpg') no-repeat;
  background-size: cover;
  height: 490px;
  position: relative;
}

.women-bg{
    position: absolute;
 left:12px;
  top:60px ;
}
.women-bg h5{
   font-weight: 500;
}
.women-bg p{
   color: red;
   font-size: 1.5rem;
}
/* kid-sec */
.kids-sec{
  background: url('../img/cat.jpg') no-repeat;
  background-size: cover;
  height: 490px;
  position: relative;
}

.kids-bg{
    position: absolute;
 left:12px;
  top:60px ;
}
.kids-bg h5{
   font-weight: 500;
}
.kids-bg p{
   color: red;
   font-size: 1.5rem;
}
/* MEN-sec */
.men-sec{
  background: url('../img/cat21.jpg') no-repeat;
  background-size: cover;
  height: 490px;
  position: relative;
}

.men-bg{
    position: absolute;
 left:12px;
  top:60px ;
}
.men-bg h5{
   font-weight: 500;
}
.men-bg p{
   color: red;
   font-size: 1.5rem;
}

.picBox{
    height: 140px;
    /* width: 190px; */
    width: 100%;
    margin-block:15px;
}
.picBox img{
 width: 100%;
 background-size: cover;
}
.text-box i{
   text-align: right;
    
}
.price {
    color: rgb(120, 120, 255);
}
.text-box p{
    color: rgb(142, 142, 194);
    font-size: 1.4rem;
}

.star2 i{
    font-size: 1.2rem;
    display: inline-block;
    color: rgb(198, 198, 22);
}

 /* Testimonial */

  .testimonial{
    margin: 0px auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #efefef;
  }
  .testimonial h1{
    padding-bottom:30px;
    text-align: center;
    font-weight: 700;
  }
  .testimonial_img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    margin: 0px auto;
    margin-bottom: 15px;
  }
  .testimonial_img img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
}

.testimonial_text{
  font-size: 1.3rem;
  text-align: center;
  font-weight: 500;
}

/* footer */
.footer{
    margin-top: 20px;
    background-color:rgb(44, 51, 104);
    color:#fff;
    padding: 50px;
}
.Company{
    padding-bottom:20px ;
    text-align: left;
}
.Company h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.Company h4{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  padding-top: 10px;
}
.Company a{
  text-decoration: none;
  color: #cccccc;
  padding:10px;
  font-size: 1.5rem;
  line-height: 35px;
}
.Company p{
    color: #cccccc;
    line-height: 25px;
  
}
center{
    background-color:#273a74;
    padding: 20px;
    color: #f4f4f4;
}

.Company input{
    padding-block: 10px;
    background: transparent;
    border-radius: 2px;
    margin-top: 30px;
}
.Company a i{
    display: inline-block;
    border-radius: 100%;
    color:#fff;
    padding: 0px 8px;
    font-size: 1.5rem;
    border:1px solid #c0a7a7;
}
.Company i:hover{
    background:#faabab;
    color: #fff!important;
    transition: all 0.8s ease-in-out;
    cursor: pointer;
}






@media(max-width: 750px)
{
    .direction{
        justify-content: flex-start;
    }
    .head span{display: none;}
    .head i{color: #FFF;}
    .mobile{display: block;}
    .desktop{display: none;}
}